@font-face {
  font-family: aveReg;
  src: url(./assets/avir.otf);
}
@font-face {
  font-family: aveBold;
  src: url(./assets/avirBold.otf);
}
@font-face {
  font-family: meta;
  src: url(./assets/meta-normal.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: aveReg;
}
// body {
//   max-width: 1500px;
//   margin: 0 auto;
//   text-align: center;
// }

@mixin flexRow($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}
@mixin flexCol($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}


// ******************* MOBILE VIEW **************************
nav {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  @include flexCol(0);
  background-color: #1a1a1a;
  .nav1 {
    padding: 1rem 2rem;
    @include flexRow(0);
    justify-content: space-between;
    color: white;
    h2 {
      font-family: "Times New Roman", Times, serif;
      letter-spacing: 2px;
      font-size: 2rem;
    }
    .links1,
    .links2 {
      display: none;
    }
  }
  .nav2 {
    background-color: #000000;
    button {
      display: none;
    }
    p {
      padding: 1rem 2rem;
      font-family: aveReg;
      color: white;
      text-align: center;
    }
    .input {
      display: none;
    }
  }
}
main {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  section.view1 {
    .top {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
      .leftright {
        position: absolute;
        width: 100%;
        top: 50%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;

        i {
          color: #d5d1d1;
          font-size: 1.5rem;
          border: 1px solid rgb(126, 123, 123);
          border-radius: 3rem;
          padding: 0.5rem;
          background-color: rgb(71, 69, 69);
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10rem;
      .content {
        width: 90%;
        background-color: white;
        @include flexCol(1rem);
        padding: 2rem 1rem;
        position: absolute;
        top: 40%;
        font-family: meta;
        span {
          font-size: 1rem;
        }
        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
        button {
          width: 45%;
          padding: 1rem;
          align-self: center;
          font-size: 1.2rem;
          border: none;
          border: 1px solid grey;
        }
      }
    }
  }
  section.view2 {
    background-color: rgb(247, 244, 244);
    .top {
      text-align: start;
      padding: 2rem;
      font-family: meta;
      .content {
        @include flexCol(1rem);
        span{
          font-size: 1rem;
        }
        h1{
          font-size: 1.5rem;
        }
        p{
          width: 80%;
          font-size: 1.2rem;
          padding-bottom: 1rem;
          line-height: 1.7rem;
        }
        button{
          width: 40%;
          padding: 1rem;
          font-size: 1.2rem;
          border: none;
          border: 1px solid grey;
        }
      }
    }
    .bottom {
      padding: 2rem;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  section.view3{
    .top{
      font-family: meta;
      text-align: start;
      padding: 2rem;
      @include flexCol(1rem);
      span{
        font-size: 1rem;
      }
      h3{
        font-size: 1.5rem;
      }
      p{
        font-size: 1rem;
      }
      .laptop{
        display: none;
      }
    }
    .bottom {
      .new-arrivals{
        img{
          padding: 2rem;
          width: 100%;
          object-fit: cover;
        }
        .arrival1{
          position: relative;  
            .text{
              position: absolute;
              @include flexCol(0.5rem);
              bottom: 10%;
              left: 35%;
            }
        }
        .arrival2{
          position: relative;  
            .text{
              position: absolute;
              @include flexCol(0.5rem);
              bottom: 10%;
              left: 34%;
            }
        }
        .arrival3{
          position: relative;  
            .text{
              position: absolute;
              @include flexCol(0.5rem);
              bottom: 10%;
              left: 34%;
            }
        }
        .arrival4{
          position: relative;  
            .text{
              position: absolute;
              @include flexCol(0.5rem);
              bottom: 10%;
              left: 34%;
            }
        }
      }
  }
  }
  section.view4{
    width: 100%;
    padding: 1rem;
    position: relative;
      .testimonial-content{
          font-family: meta;
        padding: 7rem 3rem;
        @include flexCol(1rem);
          i{
            font-size: 5rem;
          }
          h2{
            font-size: 2rem;
            font-weight: 500;
          }
          .paraTestimonial{
            font-size: 1.2rem;
            line-height: 1.8rem;
          }
          .foodname,.clientname{
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.674);
          }
          .leftright {
          position: absolute;
          width: 100%;
          top: 50%;
          display: flex;
          justify-content: space-between;
          align-self: center;
          padding: 0.5rem;
            i {
          color: #d5d1d1;
          font-size: 1.5rem;
          border: 1px solid rgb(126, 123, 123);
          border-radius: 3rem;
          padding: 0.5rem;
          background-color: rgb(71, 69, 69);
          }
          }
      }
  }
  section.view5{
    width: 100%;
    padding: 1rem ;
    .tastebycolor{
      padding: 5rem 0;
      background-color: #F6F2EA;
      // border: 2px solid red;
      .content{
          width: 100%;
          padding: 4rem;
          font-family: meta;
          @include flexCol(1.2rem);
            span{
              font-size: 1rem;
            }
            h2{
              font-size: 2rem;
              padding-bottom: 1rem;
            }
            p{
              font-size: 1rem;
            }
        }
    }
    .bottom{
      @include flexRow(0rem);
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
        .colorbox{
          display: flex;               
          align-items: center;         
          justify-content: center;     
          width: 50%; 
          padding: 4rem 0;
          font-weight: 600;
          white-space: nowrap;
        }
        
    }
    .colorbox:nth-child(1) { 
      background-color: #DFE9D2; 
    }
    .colorbox:nth-child(2) { 
      background-color: #FFFCE2; 
    } 
    .colorbox:nth-child(3) { 
      background-color: #FEEFDD; 
    } 
    .colorbox:nth-child(4) { 
      background-color: #FCDEE5; 
    }  
    .colorbox:nth-child(5) { 
      background-color: #FFE8F0; 
    }  
    .colorbox:nth-child(6) { 
      background-color: #F9E8FF; 
    }  
    .colorbox:nth-child(7) { 
      background-color: #EFF4F7; 
    }  
    .colorbox:nth-child(8) { 
      background-color: #FBE8D8; 
    }  
    .colorbox:nth-child(9) { 
      background-color: #EBDDC4; 
    } 
    .colorbox:nth-child(10) { 
      background-color: #EBE8E3; 
    } 
  }
  section.view6{
    background-color: #FCFBF9;
    width: 100%;
    padding: 1rem;
      .top{
        width: 100%;
        padding: 2rem;
        font-family: meta;
          img{
            width: 10%;
            object-fit: cover;
          }
          h2{
            font-size: 2rem;
            font-family: 'Times New Roman', Times, serif;
            padding: 1rem 0;

          }
          p{
            font-size: 1rem;
            
          }
      }
      .bottom{
        
        display: grid;
        width: 100%;
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:  "img1 img1"
                              "img1 img1"
                              "img2 img3"
                              "img4 img5"
                              "img6 img7";
        gap: 0.5rem;
        img{
          width: 100%;
          object-fit: cover;
          display: block;
          aspect-ratio: 1 / 1;
        }
        .img1 { grid-area: img1; }
        .img2 { grid-area: img2; }
        .img3 { grid-area: img3; }
        .img4 { grid-area: img4; }
        .img5 { grid-area: img5; }
        .img6 { grid-area: img6; }
        .img7 { grid-area: img7; }
      }
  }
}

// ***************** TABLET VIEW *****************
@media (min-width: 600px) {
  nav {
    .nav1 {
      h2 {
        font-size: 2.2rem;
      }
    }

    .nav2 {
      p {
        font-size: 1.1rem;
      }
    }
  }
}

// ******************* LAPTOP VIEW ******************
@media (min-width: 900px) {
  nav {
    .nav1 {
      order: 2;
      color: black;
      background-color: white;
      border-bottom: 1px solid grey;
      .menu {
        display: none;
      }
      .links1,
      .links2 {
        width: 100%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      h2 {
        font-size: 2.5rem;
        padding: 0 6rem;
        font-family: "Times New Roman", Times, serif;
        letter-spacing: 3px;
      }
    }
    .nav2 {
      order: 1;
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      button {
        display: block;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        padding: 0 1rem;
      }
      .input {
        display: block;
        display: flex;
        align-items: center;

        input {
          background-color: #000000;
          padding: 1.1rem;
          border: 1px solid white;
          border-right: none;
          font-size: 1rem;
        }
        input::placeholder {
          background-color: #000000;
          color: white;
        }
        .searchicon {
          color: white;
          border: 1px solid white;
          padding: 1rem;
        }
      }
    }
  }

  main {
    section.view1 {
      position: relative;
      .top img {
        position: relative;
      }
      .bottom {
        position: absolute;
        width: 50%;
        background-color: transparent;
        top: 5%;
        left: 0%;
        color: white;
        .content {
          text-align: start;
          background-color: transparent;
          width: 60%;
          span {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
          }
          h1 {
            font-size: 2.5rem;
          }
          p {
            padding: 1rem 0;
            width: 65%;
            font-size: 1.2rem;
          }
          button {
            align-self: self-start;
            font-size: 1rem;
            border: none;
            border: 2px solid rgb(176, 168, 168);
            background-color: transparent;
            color: white;
          }
        }
      }
    }
    section.view2{
      display: flex;
      .top,.bottom{
        width: 50%;
      }

    }
    section.view3{
      .top{
        span{
          font-size: 1.2rem;
          color: #2d2a2ab5;
        }
        h3{
          font-size: 2.3rem;
        }
        .change{
          display: none;
        }
        .laptop{
          display: initial;
          width: 40%;
        }
      }
      .new-arrivals{
        display: flex;

      }
    }
    section.view4{
      .testimonial-content{
        i{
          font-family: meta;
        }
        h2{
          padding: 0 15rem;
          font-size: 2.5rem;
        }
        .paraTestimonial{
          padding: 0 15rem;
          font-size: 1.2rem;
        }
      }
    }
    section.view5{
      display: flex;
      flex-direction: row;
      padding: 5rem 2rem;
        .tastebycolor{
          width: 30%;
            .content{
              h2{
                font-family: 'Times New Roman', Times, serif;
              }
            }
        }
        .bottom{
          width: 80%;
            .colorbox{
              padding: 2rem;
              font-weight: 400;
              width: 20%;
            }
        }
    }
    section.view6{
      display: flex;
      flex-direction: row;
      padding: 2rem 0;
      .top{
        width: 30%;
        text-align: start;
          .text{
            img{
              padding-bottom: 2rem;
            }
          }
      }
      .bottom{
        width: 70%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "img1 img1 img2 img3 img4"
                              "img1 img1 img5 img6 img7";
        padding: 3rem 1rem;  
      }

    }
  }
}
